.profileContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profileInfo {
  padding: 20px;
}

.profileImage {
  margin-top: 16px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.profileImage:hover {
  transform: scale(1.3);
}
.profileName {
  font-size: 36px;
  font-weight: 700;
}

.profileTag {
  font-size: 34px;
  color: rgb(122, 121, 121);
}

.profileLocation {
  font-size: 34px;
  color: rgb(122, 121, 121);
}

.statsList {
  display: flex;
  background-color: rgb(187, 187, 187);
}

.statItem {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  font-size: 34px;
  border: 2px solid rgb(109, 109, 109);
}
.statValue {
  font-weight: 700;
}
